*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: auto;
    width: 100%;
}
.title1{
    display: inline-block;
    width: auto;
    height: 26px;
}
.logotuoitre{
    width: 80px;
    height: 26px;
    padding-right: 5px;
}
.title1r li a{
    text-decoration: none;
    color: black;
    font-size: 13px; 
}
.title1r li{
    display: inline-block;
    list-style: none;
    padding-left: 15px;
    align-items: center;
}
.title1r{
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 26px;  
    margin-left: 150px; 
    margin-top: 5px;
}
.title1l{
    display: inline-block;
    width: 400px;
    height: 26px;
    margin-left: 170px;
}
.title2{
    height: 47px;
    width: 100%;
    background-image:  linear-gradient(to left,#9f041b,#e32);
    display: inline-block;
}
.title2l{
    height: 47px;
    width: 300px;
    display: inline-block;
}
.title2l img{
    width: 100px;
    height: 47px;
    margin-left: 170px;
}
.title2r{
    height: 47px;
    width: 800px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 190px;
}
.title2r li{
    font-size: 10px;
    display: inline-block;
    color: #fff;
    padding-right:10px ;   
}
.title2r li a{
    text-decoration: none;
    color: #fff;
}
.title2r input{
    display: inline-block;
    width: 240px;
    height: 28px;
    margin-left: 20px; 
}
.body{
    height: 1550px;
    margin: 0 auto;
    width: 1000px;
}
.head-content{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.head-content .title3{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border-bottom: 2px #e32 solid;
}
.head-content .title3 li{  
    list-style: none;
    display: inline-block;
    padding-right: 4px;
}
.head-content .title3 li a{
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}
.head-content .title4{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px #ededed solid;
}
.head-content .title4 li{
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    margin-top: 8px;
}
.head-content .title4 #first a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}   
.head-content .title4 .no a{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.head-content .title4 p{
    float: right;
    width: 300px;
    text-align: right; 
    margin-top: 13px;
    font-size: 12px;
}
.body-content{  
    width: 600px;
    height: auto;
    display: inline-block;
}
.body-content h1{
    color: #e32;
    margin-bottom: 10px;
}
.body-content p{
    font-size: 12px;
    margin-bottom: 10px;
}
.body-content h3{
    margin-bottom: 15px;
    font-weight: 200;
    margin-left: 50px ;
}
.body-content h4{
    font-weight: 200;
    float: right;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0px;
    
}
.body-content .footer{
    display: block;
    width: 600px;
}
.body-content .footer button{
    border: none;
    cursor: pointer;
}
.body-content .footer button i{
    padding: 10px;
}
.body-content .footer #but1{
    width: 101px;
    height: 31px;
    background-color: #e32;
    color: #fff;
}
.body-content .footer #but2{
    width: 101px;
    height: 31px;
    background-color: #306199;
    color: #fff;
}
.body-content .footer #but3{
    width: 69px;
    height: 31px;
    background-color: #0060ff;
    color: #fff;
}
.body-content .line{
    width: 100%;
    height: 1px;
    border-top: 1px #bdbdbd dotted;
    margin: 20px 0px;
}
.body-content .comment{
    width: 600px;
    height: 146px;
    background-color: rgba(34,34,34,.05);
    display: block;
}
.body-content .comment input{
    width: 550px;
    height: 70px;
    border: 1px solid #9f041b ;
}
.body-content .comment .comment1{
    width: 550px;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
}
.body-content .comment button{
    width: 97px;
    height: 27px;
    margin-top: 15px;
    margin-left: 25px;
    background-color: #e32;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.body-content #first-line{
    font-weight: bold;
}
.body .area1{
    width: 300px;
    height: 1000px;
    display:inline-block;
    margin-left: 95px;
    margin-top: 70px;  
    vertical-align: top;
}
.body .ads img{
    width: 300px;
    height: 500px;
    background-color: blue;
    vertical-align: top;
    display: flex;
} 
.body .slidebar{
    width: 300px;
    height: 400px;
    vertical-align: top;
} 
.body .slidebar h2{   
    border-bottom: 1px #bdbdbd dotted;
    border-left: 5px #9f041b solid;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 10px 0;
}
.body .slidebar .slide1{
    width: 300px;
    height: 86px;
    border-bottom: 1px #bdbdbd dotted;

}
.body .slidebar li{
    width: 300px;
    list-style: none;
    margin: 10px 0px;
}
.body .slidebar li a img{
    display: inline-block;
}
.body .slidebar .khungtt{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}
.body .slidebar .chu{
    height: 20px;
    vertical-align: top;
    text-decoration: none;
    margin: 10px 0px;
    display: inline;

}
.body .slidebar .day{
    font-size: 10px;
    padding-top: 10px;
}
footer{
    height: 80px;
    background-color: #eee;
    margin-bottom: 20px;
}
footer .area2{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
   
}
footer .area2 a img{
    height: 80px;
    width: 120px;
    float: left; 

}
footer .area2 .info1{
    float: left; 
    width: 400px;
    height: 50px;
    margin-top: 20px;

}
footer .area2 .info1 p{
    padding-left: 10px;
}
footer .area2 .info2{
    float: right;
    width: 450px;
    height: 60px;
    margin-top: 20px;
}
footer .area2 .info2 div{
    float: right;
    width: 400px;
}
footer .area2 .info2 a{
    display: block;
    float: right;
    text-decoration: none;
    color: #333;
}
footer .area2 .info2 li{
    float: left;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
}
footer .area2 .info2 ul{
    float: right;
}
.img-fluid{
    margin: 0 auto;
    width: 100%;
}